body{
    background-image: url(midia/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment:fixed;
    height: 100vh;
    margin: 0;
}

#container2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: auto;
        position: relative;
        top: -385px;
}
iframe{
    height: 473px;
    width: 267px;
    position: absolute;
    background-image: url(midia/imagens/tela-home.jpg);
    background-size: cover;
    overflow: hidden;
}
.botoes > img{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50px;
}
.botoes{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.735);
}
.botoes:hover{
    box-shadow: -5px -3px 5px rgba(255, 255, 255, 0.176);
    transition: 0.5s;
}
#container1{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

